@use '../../../styles/breakpoints' as *;

.wrapper {
  display: flex;
  justify-content: center;

  .grid-card {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
    gap: 15px;
    padding: 24px 16px;
  }
}

@include respond-to(sm) {
  .wrapper {
    .grid-card {
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: 30px;
      padding: 0 25px;
    }
  }
}

@include respond-to(md) {
  .wrapper {
    .grid-card {
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 40px;
      padding: 32px 36px 0 0;
    }
  }
}

